.hiderSlider .text {
}
.hiderSlider .text h2 {
  font-size: 55px;
  color: #43121d;
  font-weight: bold;
}
.hiderSlider p {
  max-width: 400px !important;
  padding: 0 20px;
  line-height: 1.6;
  font-size: 20px;
  color: #fff;
  margin: 15px auto;
  text-align: center;
}

.carousel-item {
  height: calc(100vh - 132px) !important;
}
.carousel-inner {
  top: 50px !important;
}
.carousel-caption h2 {
  color: var(--mainColor) !important;
}
.carousel-caption p {
  color: #333 !important;
  width: 500px;
  max-width: 100%;
  font-size: 25px;
}
.carousel-item img {
  width: 100% !important;
  max-width: 100% !important;
  height: 100% !important;
  max-height: 100% !important;
}
.carousel-control-next,
.carousel-control-prev {
  width: fit-content !important;
  height: fit-content !important;
  background-color: transparent;
  border: none;
  z-index: 30;
  top: 50% !important;
  transform: translateY(-50%) !important;
}

@media (max-width: 767px) {
  .carousel-control-next,
  .carousel-control-prev {
    display: none !important;
  }
}
.carousel-caption {
  left: 50% !important;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
}
.carousel-caption h2 {
  font-size: 45px;
  font-weight: bold;
  color: #fff;
}
.carousel-caption p {
  line-height: 1.7;
}

@media (max-width: 767px) {
  .hiderSlider {
    text-align: center;
  }
  .carousel-caption h2 {
    font-size: 40px;
    width: 350px;
    text-align: center;
    margin: 0 auto;
  }
  .carousel-caption p {
    text-align: center;
    line-height: 1.5;
    font-weight: normal;
    width: 350px;
    margin: 0 auto;
  }
}

/* .carousel-indicators li {
  opacity: 1 !important;
  height: 5px !important;
}
.carousel-indicators li.active {
  background-color: var(--mainColor);
} */

@media (max-width: 991px) {
  .navbar-collapse .navbar-nav a {
    padding: 5px 20px !important;
    background-color: #eee;
  }
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  color: var(--mainColor) !important;
  background-color: var(--mainColor);
}

.carousel-indicators {
  bottom: -45px !important;
}
.carousel-indicators button {
  /* opacity: 1;
  background-color: #fff;
  border: 2px solid var(--mainColor) !important; */
  background-color: #fff;
  border: 2px solid var(--mainColor) !important;
  opacity: 1;
  width: 15px !important;
  height: 15px !important;
  border-radius: 50%;
}
.carousel-indicators button.active {
  background-color: var(--mainColor);
}
