.testinomials {
  height: 600px;
  background-color: var(--mainColor);
  color: #fff;
  text-align: center;
  padding: 50px 0 200px;
  position: relative;
}
.testinomials h2 {
  font-weight: bold;
  color: #fff;
}

.testinomials .carousel-item {
  height: 400px !important;
  position: relative;
}
.testinomials .carousel-inner {
  position: relative;
  top: 50px !important;
  background-color: #fff;
  width: 70%;
  max-width: 100%;
  height: 300px !important;

  max-height: 100%;
  margin: auto;
  border-radius: 15px;
}
.testinomials .carousel-caption {
  left: 50% !important;
  top: 60%;
  transform: translate(-50%, -60%);
  width: 100%;
  margin: auto;
  padding: 0 20px;
}
.testinomials .carousel-caption h5 {
  color: var(--mainColor) !important;
}
.testinomials .carousel-caption p {
  color: #444 !important;
  width: 100% !important;
  max-width: 100%;
  font-size: 20px;
  line-height: normal;
}
.testinomials .carousel-item img {
  width: 100px !important;
  max-width: 100% !important;
  height: 100px !important;
  max-height: 100% !important;
  margin: 20px auto;
  border-radius: 50%;
}
.testinomials .carousel-control-next,
.testinomials .carousel-control-prev {
  display: none !important;
}

.testinomials .carousel-indicators {
  bottom: -50% !important;
}
.testinomials .carousel-indicators button {
  opacity: 0.5;
  background-color: #fff !important;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
.testinomials .carousel-indicators button.active {
  opacity: 1 !important;
}

.testinomials .carousel-indicators button.active {
  background-color: var(--mainColor);
}

@media (max-width: 767px) {
  .testinomials .carousel-caption h5 {
    margin-top: 20px;
  }
  .testinomials .carousel-caption {
    margin-top: 0;
  }

  .testinomials .carousel-inner {
    width: 90%;
    height: 320px !important;
  }
}
