.products {
  padding-top: 78px;
}

.products p {
  color: #555;
}
.products .card {
  border: 1px solid #ccc !important;
  position: relative;
}
.products .card img {
  height: 250px;
}
.products .card a {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}
.buttons .btn.active {
  background-color: var(--mainColor) !important;
}

@media (max-width: 767px) {
  .buttons .btn {
    padding: 10px 1px !important;
    font-size: 12px;
  }
}

.products-card {
  height: 400px !important;
  border: none !important;
  position: relative;
}
.products-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0 0 0 / 20%);
}
.products-card img {
  max-width: 100%;
  max-height: 100%;
}

.card-img-overlay {
  color: #38015c;
}

@media (max-width: 991px) {
  .product-card .card a {
    display: block;
    width: 40% !important;
  }
}

.cats-row {
  width: 70% !important;
  margin-bottom: -50px;
}
.cats-row .btn {
  margin: 0 !important;
  border-color: var(--mainColor);
}
.cats-row .cats-col {
  margin: 0 !important;
  padding: 10px !important;
}
