:root {
  --mainColor: #03a9f4;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
.btn-outline-dark {
  color: var(--mainColor) !important;
  border-color: var(--mainColor) !important;
}
.btn:hover,
.btn:active,
.btn.active {
  color: #fff !important;
  background-color: var(--mainColor) !important;
}
.btn-outline-dark.active {
  background-color: var(--mainColor) !important;
  color: #fff !important;
}
